[Desktop Entry]
Version=1.0
Type=Application
Name=LMS7 Suite
Comment=Graphical utility for LMS7 devices
TryExec=limesuite.lms7suite
Exec=limesuite.lms7suite %F
Icon=${SNAP}/meta/gui/lime-suite-128.png
Categories=Development;
